/* Please give the h1 some padding on two sides and zero on others, margin on the sides with no padding, thin purple border on sides without margin, gold background but the gold must be the exact color from the hufflepuff crest */
h1{
    padding: 3rem 0rem;
    margin: 0rem 3rem;
    border-top: purple 2px solid;
    border-bottom: purple 2px solid;
    background-color:  rgb(255,206,73);
}

/* Please give the h2 significant padding on the left and right, a red border on the left and right but the red must be the same from the mighty morphin power rangers logo, and an orange background, and the roboto font */
    h2{
        padding: 1rem 5rem;
        border-left:red solid;
        border-right:red solid;
        background-color: orange;
        font-family: 'Roboto', sans-serif;
    }


/* Please give the section a thick magenta border on the left, 100px of padding on the top and bottom, and 200px of margin on every side without padding or border */
    section{
        border-left:magenta 1rem solid;
        padding: 100px 0px;
        margin: 0px 200px;
    }


/* Please make the spans have thin Dodger Blue borders, padding on the bottom and right, and light red background */
span{
    border: dodgerblue solid 2px;
    padding-bottom: 100px ;
    padding-right: 100px;
    background-color: rgb(192, 45, 45);
}