*{
 box-sizing: border-box;   
}

header, footer {
    height: 100px;
    border: solid black 2px;
    clear: both;
}

section{
    height: 100px;
    border: solid black 2px;
    float: left;
    width: 33.3333%;
}

.big{
    height: 100px;
    border: solid black 2px;
    float: left;
    width: 50%;
}