header{
  color: white;
  font-style: italic;
  text-align: center;
  


}
h1{
  text-align: center;
  

}

nav>ul>li>a {
  color: green;
  font-style: normal;
  text-align: center;

}
nav> ul> li {
  list-style: none;
  display:inline;
  font-style: normal;
  color: white;
  text-align: center;
  
}
h2{
  color: white;
  font-style: normal;
  
}
img {
  width:170px;
  height:250px;
  float:right;
}
  

p {
  color:white;
  font-size: 25px; 
  
}
body{
  background-color: rgb(10, 231, 231);
  border: 5px solid green;
  padding: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin: 100px;
}
footer>nav>a {
  text-align: center;
  color: green;
  font-style: normal;
  text-decoration: underline;
  list-style: none;
  font-weight: bold;
  margin-top: 20px;
}
  
nav{
  text-align: center;
}
