/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  
  margin: 0 auto;
 

}



/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




.main{
  background-color: #67778a;
  color: #f0f0f1;
}

.bbi{
  
  color: #404555;
  margin-top: 4rem;
  padding-bottom: 3.4rem;;
}

.grit{
  text-align: center;
  }

.grit h1{
    font-size: 4rem;
   text-transform: uppercase;
}

.grit p{
  font-size: 2rem;
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

.video
{
  display: block;
  margin-top: 2rem;
}

/*section two*/

.two
{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.two h2, .four h2{
  font-size: 3rem;
}
.two p{
  margin: 2rem 2rem;
  
}



/*section three*/

.three section{
  outline: none;
  
}

.three{ 
  background-color: #dbdee3;
  text-align: center;
  padding: 2rem;
}

.left, .right{
  float: left;
  width: 50%;
  padding: 2rem;
}

.three h2, .three p, .three a, .three img{
  padding: 1rem 0;
}


/*Section four*/

.four{
  text-align: center;
}

.four h2, .four p, .four a{
  padding: 1rem 0;


}

.container-test{
  margin: 2rem 20rem;
}


/*Footer*/
.footer, .notice{
  background-color: #161e2b;
  color: white;
  
}
.footer a{
  color: white;
  text-decoration: none;
}

.footer li{
  list-style: none;
}

.footer-left, .footer-right{
  float: left;
  width: 50%;
}

.footer-right{
  float: right;
  
}

.footer-left span{
  display: block;

}

.footer{
  padding: 2% 5%;
}

.test{
  margin-left: 70%;
  justify-content: right;
}



.social li{
  float: left;
 
}
.social li+li , .social li+li+li{
  
  margin-left: 1rem;
}

.footer-left span{
  font-weight: bold;
  color: #495766;
}


.social li, .sitemap{
  padding-bottom: 1rem;
  
}

.address {
  margin-top: 1rem;
}



.notice p{
  margin:  0.5rem 0;
  float: left;
  font-weight: bold;
}

.notice img{
  margin:  0.5rem 0;
  float: right;
 
}

.notice{

  border-top: solid white 3px;
}

.notice-container{
  display: block;
  padding-top: 10rem;
  background-color: #161e2b;
  padding: 0 5%;
}


.kinda-button{
  border: 1px black solid;
  background-color: #dbdee3;
}

.three a {
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: black;
  font-weight: bold
}

.three p{
  margin-bottom: 1rem;
}