/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
 clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 20px;

}


/******************************************
/* LAYOUT
/*******************************************/


header{
  border: 2px solid red;
}

header nav > *{
  float: left;
  list-style: none;
}


input {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(28, 92, 85)
}

.larger {
  float: right;
}
.larger li{
  float: left;
}


img {
  display: inline-block;
  width: 100%;
  border: 1px solid black;

} 

.khangirl {
  float: left;
  width: 200px;
  height:300px;

}

 */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
