/*Importing the google Font.*/

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 3.125rem;
    line-height: 4rem;
    color: #222;
}

h2 {
    font-size: 2.875rem;
    line-height: 3.375rem;
    color: #222;
}

h4 {
    font-size: 1.25rem;
    color: #222;
}

h6 {
    font-size: 0.75rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    color: #465b52;
    margin: 0.938rem 0 0.125rem 0;
}

.section-p1 {
    padding: 2.5rem 5rem;
}

.section-m1 {
    margin: 2.5rem 0;

}

body {
    width: 100%;
}



/* Header Start*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 5rem;
    background: #e3e6f3;
    box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li {
    list-style: none;
    padding: 0 1.25rem;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 0.125rem;
    background: #088178;
    position: absolute;
    bottom: -0.25rem;
    left: 1.25rem;

}